<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <!--  useGeneratedKeys 属性用来指定自增主键的返回值  -->
    <!--  keyProperty 属性用来指定实体类中主键的属性名  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish (name, category_id, price, image, description, status)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status})
    </insert>
</mapper>
